.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Availability Page */
.searchInput {
    margin-bottom: 40px;
}
.searchInput input,
.searchInput button {
    border: 0;
    padding: 10px 10px;
    display: inline-block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.searchInput label {
    text-align: center;
    display: block;
    margin-bottom: 8px;
}

.searchInput input {
    border-radius: 99px 0 0 99px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchInput button {
    padding: 13px 13px;
    border-radius: 0 99px 99px 0;
    color: #fff;
    font-size: 12px;
    background: orangered;
    cursor: pointer;
    transition: 100ms background linear;
}

.searchInput button:hover {
    background: tomato;
}

.boat_availability {
    display: flex;
    align-items: flex-end;
}

.boat_categories {
    flex: 1 0 auto;
    flex-basis: 230px;
    align-items: flex-end;
    margin-bottom: 40px;
    padding-right: 10px;
    background: linear-gradient(transparent, #fff);
}

.boat_list {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.boat_item {
    flex: 1 0 auto;
    flex-basis: 150px;
    text-align: center;
}

/* Availability Item */

.item_date_text {
    font-size: 24px;
}

.item_date_day {
    color: slateblue;
}

.item_date span {
    display: block;
}

.item_temperature {
    border-radius: 90px;
    margin: 0 auto;
    display: inline-block;
    padding: 5px 20px;
    background: lightsalmon;
    color: #fff;
    font-weight: bold;
}

.item_product,
.item_category {
    height: 125px;
}

.item_category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
    background: slateblue;
}

.item_product {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    transition: 100ms transform linear;
}

.item_product:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.item_product p {
    margin: 0;
}

.item_product_prices {
    margin-top: 15px;
}
.item_product_price {
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

.item_product p.item_product_status {
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.item_product_invalid {
    margin-top: auto;
    margin-bottom: auto;
    color: #bbb;
}

p.item_product_status.sold_out {
    background: lightslategray;
}
p.item_product_status.available {
    background: rgb(69, 172, 0);
}
p.item_product_status.last_spaces {
    background: rgb(233, 99, 46);
}

.item_product_old_price {
    color: #bbb;
    text-decoration: line-through;
}
